

<div class="container">
<div class="welLogo">Logo </div>

    <div class="cart1">
        <div class="trolly">
            troleypic
        </div>
        <div class="welcomeDisc"> 
         Buy online
        Delivery
        or
        Pickup Instore
        </div>
        <div class="shpnw">
        <a class="btn btn-dark btn-sm " href=" " role="button">Shop Now</a>
        </div>
       
    </div>
    <i class="fab fa-line fa-lg fa-fw">---------</i>
    <!--Promotions cart-->
    <div class="cart2">
        <div class="promo">
            <div class="txt"> Promotion</div>
            <div class="promoBut">
                <button class="left"> < </button>
                <button class="right"> > </button>
            </div>
        </div>
    </div>
    <!--Latest releases cart-->
    <div class="cart3">

    </div>
    <!--SignUp & SignIn buttons-->
    <div class="intBut">

    </div>


</div>
<app-foot></app-foot>