

<div class="container">
<div class="welLogo"> 
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ee/X_Games_logo.svg/1200px-X_Games_logo.svg.png">
</div>

    <div class="cart1">
        <div class="trolly">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconpacks.net%2Ffree-icon%2Fshopping-cart-3041.html&psig=AOvVaw2pJgJ8Jdyk5XRyd7HTBYRR&ust=1669710610897000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjX3_C60PsCFQAAAAAdAAAAABAN" alt="">
            
        </div>
        <div class="welcomeDisc"> 
         Buy online
        Delivery
        or
        Pickup Instore
        </div>
        <div class="shpnw">
            <button class="btn btn-dark btn-sm " href=" " role="button" routerLink="/login">Shop Now</button>
        </div>
       
    </div>

    <hr class="line">
    
    <!--Promotions cart-->
    <div class="cart2">
        <div class="promo">
            <div class="txt"> Promotion</div>
            <div class="promoBut">
                <button class="left"> < </button>
                <button class="right"> > </button>
            </div>
        </div>
    </div>
    <hr class="line">
    <!--Latest releases cart-->
    <div class="cart3">

    </div>
    <hr class="line">
    <!--SignUp & SignIn buttons-->
    <div class="intBut">
        <a class="btn btn-dark btn-sm " href="#" role="button" routerLink="/login">SignIn</a>
        <a class="btn btn-dark btn-sm " href="#" role="button" routerLink="/register">SignUp</a>
    </div>


</div>
<app-foot></app-foot>