<app-navba></app-navba>

<div class="container-fluid">

<h3>My Account</h3> 
<p>You might be interested</p>

    <div class="ps">
        <div class="pslogo">
            <img src="https://cdn-icons-png.flaticon.com/512/1/1443.png" alt="">
            Playstation
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <div class="card h-100">
                <img src="https://iconarchive.com/download/i1878/3xhumed/mega-games-pack-39/Call-of-Duty-World-at-War-10.ico" class="card-img-top" alt="...">                
              </div>
            </div>
            
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
        </div>
    </div>

    <hr class="line">

    <div class="xb">
        <div class="xblogo">
            <img src="https://cdn-icons-png.flaticon.com/512/732/732260.png" alt="">
            Xbox
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <div class="card h-100">
                <img src="https://iconarchive.com/download/i1878/3xhumed/mega-games-pack-39/Call-of-Duty-World-at-War-10.ico" class="card-img-top" alt="...">                
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>

          </div>
    </div>

    <hr class="line">

    <div class="merch">
        <div class="mclogo">
            <img src="https://cdn-icons-png.flaticon.com/512/3834/3834131.png" alt="">
            Merchandise
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <div class="card h-100">
                <img src="https://iconarchive.com/download/i1878/3xhumed/mega-games-pack-39/Call-of-Duty-World-at-War-10.ico" class="card-img-top" alt="...">                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
    </div>
    <hr class="line">


              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content" style="background-color: #CAC5C5">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-header">
                        Price: R
                    </div>
                    <div class="modal-body">
                        Description:
                    </div>
                    <div class="modal-footer">
                        <div class="counter" >
                            <button class="btnn" >+</button>
                            <div class="countt" >2</div>
                            <button class="btnn" >-</button>
                        </div>
                     <button type="button" class="btn btn-primary">Buy</button>
                    </div>
                </div>
                </div>
            </div>


</div>


<app-foot></app-foot>