


hr{
  width: 100%;
    margin: auto;
   margin-top: 2rem;
    //margin-bottom: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: rgb(0, 0, 0);

}
.checkout{
  margin-top: 1.2rem;

}

