<app-navba></app-navba>

<div class="container-fluid">
Shopping Cart
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="radio" name="account" formControlName="pickup" value="Pickup" required >
        <label class="form-check-label label-center" for="pickup" style="align-content: center;">Pickup</label> </td>
      <td><input type="radio" name="deliver" formControlName="deliver" value="Delivery" required >
        <label class="form-check-label label-center" for="deliver" style="align-content: center;">Delivery</label> </td>

    </tr>
    <tr>
      <td scope="row">Total</td>
      <td></td>
      <td>Total Amount</td>
    </tr>
  </tbody>
    <div class="checkout">
       <button class="btn btn-dark btn-sm " href="#" role="button">CheckOut</button>
    </div>
</table>




</div>
